# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
*.log
